.container{
    background-color: var(--background-color);
    height: 100%;
    h1{
        text-align: center;
        color: var(--primary-color);
    }
    .form-container{
        width: 50vw;
        background-color: white;
        margin: 20px auto;
        padding: 20px;
        border-radius: 6px;
       form{
        display: flex;
        flex-direction: column;
       }
       button{
        background-color: var(--primary-color);
        color: white;
        font-size: 18px;
       }
    }
}