.personleadform-block {
  padding: 60px 0;

  .packages_icon {
    position: fixed;
    top: 13px;
    right: 120px;
    cursor: pointer;
    z-index: 9999;
  }

  .main-title {
    h1 {
      font-size: 35px;
    }
  }

  .form-container {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    max-width: 700px;
    margin: 0 auto;

    .form-row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -12px;

      .formfield-col {
        width: 100%;
        padding: 0 12px;

        mat-form-field {
          width: 100%;
        }
      }

      .formfield-col50 {
        width: 50%;
      }
    }

    .formsubmit-btn {
      text-align: center;

      button {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--primary-color);
        color: white;
        max-width: 240px;
        width: 100%;
        padding: 12px 24px;
        height: auto;
      }
    }
  }

  @media only screen and (max-width: 1399.98px) {
    .main-title {
      h1 {
        font-size: 32px;
      }
    }
  }

  @media only screen and (max-width: 1199.98px) {
    padding: 40px 0;

    .main-title {
      h1 {
        font-size: 28px;
      }
    }
  }

  @media only screen and (max-width: 767.98px) {
    padding: 30px 0;

    .packages_icon {
      top: 10px;
      right: 95px;
      max-width: 28px;
    }

    .main-title {
      margin-bottom: 20px;

      h1 {
        font-size: 26px;
      }
    }

    .form-container {
      padding: 20px 16px;
      border-radius: 12px;

      .form-row {
        .formfield-col50 {
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 479.98px) {
    .main-title {
      h1 {
        font-size: 24px;
      }
    }
  }
}