.container {
  .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 5px 10px;
    .spending {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .spend-title {
        width: 100%;
        display: flex;
        justify-content: center;
        h2 {
          width: 50%;
          text-align: center;
          padding: 10px 0;
          background-color: rgb(137, 236, 252);
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          span {
            color: var(--primary-color);
            text-decoration: underline;
          }
        }
      }
      .head {
        display: flex;
        background-color: rgb(10, 167, 246);
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-inline: 10px;
        width: 90%;
        margin: auto;

        img {
          width: 50px;
        }
        h2 {
          flex-grow: 3;
        }
        button {
          flex-grow: 1;
        }
      }
      .techs {
        display: flex;
        flex-direction: column;
        background-color: rgb(22, 42, 52);
        color: white;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
        padding: 0 10px;
        // .heading {
        //   color: var(--secondary-color);
        //   margin-inline: 10px;
        // }
        .batch {
          h3 {
            color: rgb(29, 185, 237);
          }
          div {
            width: 100%;
            margin: 5px 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            mat-icon {
              color: var(--primary-color);
            }
          }
        }
      }
    }
    .hardware {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        font-weight: 500;
        margin: 5px 0;
      }
      .toggle-container {
        width: 6rem;
        .toggle-btn {
          padding: 5px 10px;
          font-size: 18px;
          font-weight: 400;
        }
      }
      .terms{
        margin-top: 20px;
        display: flex;
        .checkBox{
          height: 30px;
          width: 30px;
          accent-color: var(--primary-color);
        }
        span{
          font-size: 18px;
        }
      }
      
    }
    .phones-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .phone-content {
        background-color: #f5f3f3;
        border-radius: 10px;
        margin: 5px 5px;
        padding: 0 0 8px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          display: flex;
          margin-top: 10px;
          align-items: center;
          justify-content: center;
        }
        .phone-name{
          font-size: 22px;
        }
        .price{
          color: var(--primary-color);
          margin: 0;
          font-weight: 700;
          font-size: 20px;
        }
        .description{
          text-align: center;
          padding: 0 5px;
        }
      }
      .active-content{
        background-color: #fedba8;
      }
    }

    .terminal-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .terminal-content{
        display: flex;
        background-color: #f5f3f3;
        border-radius: 10px;
        margin: 5px 5px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          display: flex;
          margin-top: 10px;
          align-items: center;
          justify-content: center;
        }
        .phone-name{
          font-size: 22px;
        }
        .price{
          color: var(--primary-color);
          margin: 0;
          font-weight: 700;
          font-size: 20px;
        }
        .description{
          text-align: center;
          padding: 0 5px;
        }
      }
      .active-content{
        background-color: #fedba8;
      }
    }
    .refund{
      font-size:18px;
      span{
        color: rgb(20, 239, 255);
      }
    }
  }
  .about-practice{
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .form-field{
        display: flex;
        width: 100%;
        gap: 1rem;
        .field{
          width: 100%;
        }
      }
    }
  }
  .multiple-card {
    display: flex;
    width: 93%;
    margin: 2rem auto;
    .left-card {
      // flex-grow: 1;
      width: 75%;
    }
    .right-card {
      width: 25%;
      margin: 2rem auto;
      position: sticky;
      top: 0; /* This makes the right card stick to the top when it reaches the top of the viewport */
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      align-self: flex-start; /* Ensures the right card doesn't stretch to the height of the left card */
      .toggle-container {
        margin: auto;
        width: fit-content;
        .toggle-btn {
          padding: 5px 10px;
        }
      }
      .short-card {
        background-color: #f5f3f3;
        padding: 5px 10px;
        border-radius: 10px;
        h2 {
          margin: 0;
        }
      }
    }
  }
}
.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 60px;
  .toggle-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 26px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary-color);
    &.active {
      background-color: var(--primary-color);
      color: white;
      border-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
    }

    &:not(:last-child) {
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
    }
  }
}

.content {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.title-head {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.content {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90%;
  p {
    color: #00af4b;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  .mini-card {
    border-radius: 20px;
    padding-bottom: 4px;
    .striked {
      text-decoration: line-through;
    }
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      .org_price {
        font-size: 3rem;
      }
    }

    // margin: auto;
    .techs {
      background-color: white;
      border-radius: 20px;
      margin: 0px 5px;
      display: grid;
      text-align: left;
    }
  }
  .tech {
    .org_price {
      color: #3962a3;
    }
    .techs {
      grid-template-columns: 1fr 1fr;
      padding: 0 10px;
      span {
        margin: 5px 0;
        display: flex;
        align-items: center;
      }
    }
    background-color: #c4eff9;
  }
  .analytics {
    position: relative;
    overflow: hidden;
    .popular-tag {
      font-size: 20px;
      font-weight: 700;
      color: #ffffff;
      background-color: #f1871f;
      position: absolute;
      top: 32px;
      left: -43px;
      transform: rotate(-40deg);
      padding: 3px 35px;
    }
    .org_price {
      color: #f28820;
    }
    .techs {
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 10px;
      .techBundle {
        width: 7rem;
        text-align: center;
        border-radius: 20px;
        padding: 10px 30px;
        background-color: rgb(255, 231, 187);
      }
      span {
        margin: 10px 0;
        display: flex;
        align-items: center;
      }
    }
    background-color: rgb(255, 231, 187);
  }
}

.btnClass {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  .nextbtn {
    margin: auto;
    width: 12rem;
    background-color: var(--primary-color) !important;
    color: white !important;
    font-size: 26px;
  }
}
.counter-container {
  display: flex;
  align-items: center;
  background-color: #e67e22;
  padding: 10px 15px;
  border-radius: 25px;
  gap: 15px;

  button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
  }

  span {
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  button:focus {
    outline: none;
  }
}
.review-order{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2{
    margin: 0;
  }
  .summary-topinfo{
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    .practice-name{
      display: flex;
      gap: 2rem;
      .p-values{
        display: flex;
        flex-direction: column;
      }
    }
    .about-package{
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .titles{
        display: flex;
        flex-direction: column;
      }
      .values{
        display: flex;
        flex-direction: column;
      }
    }
  }
  .belowSignature{
    display: flex;
    justify-content: space-between;
    .nameOfSignatory{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      input{
        border: none;
        border-bottom: 2px solid var(--primary-color);
        height: 1.3rem;
      &:focus{
        border-bottom: 2px solid var(--primary-color);
        outline: none;
      }
      }
    }
    button{
       margin-top: 10px;
        background-color: transparent;
        border:1px solid var(--primary-color);
        color: black;
        font-size: 20px;
        .deleteIcon{
          font-size: 30px;
          width: 30px;
          height: 30px;
          color: var(--primary-color);
        }
    }
    
  }
  .terms{
    margin-top: 20px;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    .checkBox{
      height: 30px;
      width: 30px;
      accent-color: var(--primary-color);
    }
    span{
      font-size: 18px;
      width: fit-content;
    }
  }
}


.signature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  // max-width: 400px;
  background-color: white;

  canvas {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    button {
      background-color: #e67e22;
      color: white;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    button:hover {
      background-color: #d35400;
    }
  }
}
.upload-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s;

}

.upload-button {
  display: inline-block;
  background-color: #e67e22;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.preview {
  margin-top: 10px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
}
