<div class="container">
  <button class="saveBtn" mat-flat-button type="button" (click)="onSubmit()">
    Save
  </button>
  <app-header class="header"></app-header>
 

  <button class="edit" mat-flat-button type="button" (click)="editForm()">
    Edit
  </button>
  @if(showtechStackGap || showOnlyTechStack){
    <div class="card">
      <div class="spending">
        <div class="check">
          <mat-icon matTooltip="Completed">check_circle_outline</mat-icon>
        </div>
        <div class="spend-title">
          <h2>
            So You’re Spending <span>${{ totalCost }}</span> Per Month On
          </h2>
        </div>
        <div class="logo-img"></div>
        <div class="gaps-in-your-tech">
          <div class="head">
            <img
              src="https://demo.enfolytics.com/assets/images/tech-stack-summary-icon.svg"
              alt=""
            />
            <h2>Current Gaps in Your Tech Stack</h2>
            <button mat-raised-button type="button" (click)="expand = !expand">
              <mat-icon>{{ expand ? "add_circle" : "remove_circle" }}</mat-icon>
              {{ expand ? "Expand" : "Collapse" }}
            </button>
          </div>
          <div class="techs">
            <div class="batch">
              <h3 class="heading">Communications</h3>
              <div class="communication">
            @for (column of communicationsList; track column) {
              @if(column.value){
                <p class="gapNames" matTooltip="{{ column.toolTip }}">
                  <mat-icon>check_circle_outline</mat-icon> {{ column.text }}
                </p>
              }@else { 
                @if(!expand){
                <p class="gapNames" style="opacity: 0.5">
                  <mat-icon style="color: var(--secondary-color)">check_circle_outline</mat-icon>
                  {{ column.text }}
                </p>
                } 
              } 
            }
              </div>
            </div>
            <div class="batch">
              <h3 class="heading">Operations</h3>
              <div class="operations">
                @for (column of operations; track column) { @if(column.value){
                <p class="gapNames" matTooltip="{{ column.toolTip }}">
                  <mat-icon>check_circle_outline</mat-icon> {{ column.text }}
                </p>
                }@else { @if(!expand){
                <p class="gapNames" style="opacity: 0.5">
                  <mat-icon style="color: var(--secondary-color)">check_circle_outline</mat-icon>
                  {{ column.text }}
                </p>
                } } }
              </div>
            </div>
            <div class="batch">
              <h3 class="heading">Analytics</h3>
              <div class="analytics">
                @for (column of analytics; track column) { @if(column.value){
                <p class="gapNames" matTooltip="{{ column.toolTip }}">
                  <mat-icon>check_circle_outline</mat-icon> {{ column.text }}
                </p>
                }@else { @if(!expand){
                <p class="gapNames" style="opacity: 0.5">
                  <mat-icon style="color: var(--secondary-color)">check_circle_outline</mat-icon>
                  {{ column.text }}
                </p>
                } } }
              </div>
            </div>
            <div class="batch">
              <h3 class="heading">Mobile</h3>
              <div class="mobile">
                @for (column of mobile; track column) { @if(column.value){
                <p class="gapNames" matTooltip="{{ column.toolTip }}">
                  <mat-icon>check_circle_outline</mat-icon> {{ column.text }}
                </p>
                }@else { @if(!expand){
                <p class="gapNames" style="opacity: 0.5">
                  <mat-icon style="color: var(--secondary-color)"
                    >check_circle_outline</mat-icon
                  >
                  {{ column.text }}
                </p>
                } } }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    } 
  <!-- -------------------------------------------------------------------- -->
    @if(!showOnlyTechStack){
        @if(multiple_location=='no'){ 
      @if(whichPackageToShow){
          <div class="card">
            <app-choose-packages
              [item]="whichPackageToShow"
              [pricingArray]="pricingArray"
              [annulaOrMonth]="isAnnually"
              [multiple_location]="multiple_location"
              (totalAnnually)="onTotalAnnually($event,whichPackageToShow+' single')"
              (totalMonthly)="onTotalMonthly($event)"
              (isAnnualOrMonthly)="onAnnuallyorMonthlly($event)"
              (selectedPhone)="onSelectedPhone($event)"
              (selectedPhone_nvp)="onSelectedPhone_nvp($event)"
              (selectedAnalytics)="onSelectedAnalytics($event)"
              (selectedVerification)="onSelectedVerification($event)"
              (packageSelectedChange)="onPackageSelectedChange($event)"
              [phoneSelect]="addOnPhone"
              [verificationSelect]="addOnVerification"
              [analyticSelect]="addOnAnalytic"
              [promotionDate]="promotionDate"
              >
            </app-choose-packages>
            <div class="btnClass">
           @if(totalAnnually > 0 || whichPackageToShow === 'Only Lite - 1st Yr Promo') {
              <button mat-raised-button class="nextbtn" (click)="onNextClick(true)">
                Next
              </button>
            }
            </div>
          </div>
          } 
        }
  <div class="multiple-card">
    <div class="left-card">
      @if(multiple_location=='no'){
      <div class="card">
        <h1>Step 2: Select Your Hardware</h1>
        @if(expandHardware){
          @if(whichPackageToShow!="Only Lite - 1st Yr Promo"){
           @if(whichPackageToShow!='Outbound AE (Only Lite)'){
            @if(showSelection_of_phone){
              @if(ifPackageisAditCore && addOnPhone==true){
                <div class="phone hardware">
                  <p>Would you like to use physical phones?*</p>
                  <div class="toggle-container">
                    <button
                      [class]="{ active: selectPhone === true }"
                      (click)="selectPhone = true"
                      (click)="calculateTotalPrice()"
                      class="toggle-btn"
                    >
                      Yes
                    </button>
                    <button
                      [class]="{ active: selectPhone === false }"
                      (click)="selectPhone = false"
                      (click)="removeValue_of_hardware()"
                      class="toggle-btn">
                      No
                    </button>
                  </div>
                  @if(selectPhone){
                  <div class="phone-context">
                    <span class="info">
                      <mat-icon>info</mat-icon>To ensure optimal phone experience, we
                      require all customers who opt for hard phones to purchase at least
                      two 2616s.
                    </span>
                    <div class="phones-grid">
                      <div class="phone-content" [class.active-content]="counts_for_phone[0] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/grandstream-grp-2616.png"
                          alt=""
                        />
                        <p class="phone-name">Grandstream <strong> GRP 2616</strong></p>
                        <span class="price">$150</span>
                        <span class="description">Best for workstations handling more than 10 calls per day.
                          (Recommended for front desk, call centers, etc.)</span>
                        <div class="counter-container">
                          <button (click)="decrement(0,true)">−</button>
                          <span>{{ counts_for_phone[0] }}</span>
                          <button (click)="increment(0,true)">+</button>
                        </div>
                      </div>
        
                      <div class="phone-content" [class.active-content]="counts_for_phone[1] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/grandstream-grp-2613.png"
                          alt=""
                        />
                        <p class="phone-name">Grandstream <strong> GRP 2613</strong></p>
                        <span class="price">$100</span>
                        <span class="description"
                          >Best for workstations handling less than 10 calls per day.
                          (Typically in Operatories and Hallways)</span
                        >
                        <div class="counter-container">
                          <button (click)="decrement(1,true)">−</button>
                          <span>{{ counts_for_phone[1] }}</span>
                          <button (click)="increment(1,true)">+</button>
                        </div>
                      </div>
        
                      <div class="phone-content" [class.active-content]="counts_for_phone[2] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/grandstream-dp-720.png"
                          alt=""
                        />
                        <p class="phone-name">Grandstream <strong> DP 720</strong></p>
                        <span class="price">$100</span>
                        <span class="description"
                          >Best for staff who are constantly on their feet and handle
                          less than 10 calls per day.</span>
                        <div class="counter-container">
                          <button (click)="decrement(2,true)">−</button>
                          <span>{{ counts_for_phone[2] }}</span>
                          <button (click)="increment(2,true)">+</button>
                        </div>
                      </div>
                      <div class="phone-content" [class.active-content]="counts_for_phone[3] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/grp-2616-wall-mount.png"
                          alt=""
                        />
                        <p class="phone-name">GRP 2616 Wall Mount</p>
                        <span class="price">$10</span>
                        <div class="counter-container">
                          <button (click)="decrement(3,true)">−</button>
                          <span>{{ counts_for_phone[3] }}</span>
                          <button (click)="increment(3,true)">+</button>
                        </div>
                      </div>
                      <div class="phone-content" [class.active-content]="counts_for_phone[4] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/grp-2613-wall-mount.png"
                          alt=""
                        />
                        <p class="phone-name">GRP 2613 Wall Mount</p>
                        <span class="price">$10</span>
                        <div class="counter-container">
                          <button (click)="decrement(4,true)">−</button>
                          <span>{{ counts_for_phone[4] }}</span>
                          <button (click)="increment(4,true)">+</button>
                        </div>
                      </div>
                      <div class="phone-content" [class.active-content]="counts_for_phone[5] > 0">
                        <img
                          src="https://demo.enfolytics.com/assets/images/headset-adapter.png"
                          alt=""
                        />
                        <p class="phone-name">Headset + Adapter</p>
                        <span class="price">$275</span>
                        <div class="counter-container">
                          <button (click)="decrement(5,true)">−</button>
                          <span>{{ counts_for_phone[5] }}</span>
                          <button (click)="increment(5,true)">+</button>
                        </div>
                      </div>
                    </div>
                    <span class="terms">
                      <input class="checkBox" [checked]="checkConditionForHardware" (click)="checkConditionForHardware=!checkConditionForHardware" type="checkbox" /><span
                        >I understand that our practice needs to have an ethernet outlet
                        available at every location where a phone needs to be
                        installed.</span
                      >
                    </span>
                  </div>
                  }
                </div>
              }@else if(!ifPackageisAditCore){
              <div class="phone hardware">
                <p>Would you like to use physical phones?*</p>
                <div class="toggle-container">
                  <button
                    [class]="{ active: selectPhone === true }"
                    (click)="selectPhone = true"
                    (click)="calculateTotalPrice()"
                    class="toggle-btn"
                  >
                    Yes
                  </button>
                  <button
                    [class]="{ active: selectPhone === false }"
                    (click)="selectPhone = false"
                    (click)="removeValue_of_hardware()"
                    class="toggle-btn">
                    No
                  </button>
                </div>
                @if(selectPhone){
                <div class="phone-context">
                  <span class="info">
                    <mat-icon>info</mat-icon>To ensure optimal phone experience, we
                    require all customers who opt for hard phones to purchase at least
                    two 2616s.
                  </span>
                  <div class="phones-grid">
                    <div class="phone-content" [class.active-content]="counts_for_phone[0] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/grandstream-grp-2616.png"
                        alt=""
                      />
                      <p class="phone-name">Grandstream <strong> GRP 2616</strong></p>
                      <span class="price">$150</span>
                      <span class="description"
                        >Best for workstations handling more than 10 calls per day.
                        (Recommended for front desk, call centers, etc.)</span
                      >
                      <div class="counter-container">
                        <button (click)="decrement(0,true)">−</button>
                        <span>{{ counts_for_phone[0] }}</span>
                        <button (click)="increment(0,true)">+</button>
                      </div>
                    </div>
      
                    <div class="phone-content" [class.active-content]="counts_for_phone[1] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/grandstream-grp-2613.png"
                        alt=""
                      />
                      <p class="phone-name">Grandstream <strong> GRP 2613</strong></p>
                      <span class="price">$100</span>
                      <span class="description"
                        >Best for workstations handling less than 10 calls per day.
                        (Typically in Operatories and Hallways)</span
                      >
                      <div class="counter-container">
                        <button (click)="decrement(1,true)">−</button>
                        <span>{{ counts_for_phone[1] }}</span>
                        <button (click)="increment(1,true)">+</button>
                      </div>
                    </div>
      
                    <div class="phone-content" [class.active-content]="counts_for_phone[2] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/grandstream-dp-720.png"
                        alt=""
                      />
                      <p class="phone-name">Grandstream <strong> DP 720</strong></p>
                      <span class="price">$100</span>
                      <span class="description"
                        >Best for staff who are constantly on their feet and handle
                        less than 10 calls per day.</span
                      >
                      <div class="counter-container">
                        <button (click)="decrement(2,true)">−</button>
                        <span>{{ counts_for_phone[2] }}</span>
                        <button (click)="increment(2,true)">+</button>
                      </div>
                    </div>
                    <div class="phone-content" [class.active-content]="counts_for_phone[3] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/grp-2616-wall-mount.png"
                        alt=""
                      />
                      <p class="phone-name">GRP 2616 Wall Mount</p>
                      <span class="price">$10</span>
                      <div class="counter-container">
                        <button (click)="decrement(3,true)">−</button>
                        <span>{{ counts_for_phone[3] }}</span>
                        <button (click)="increment(3,true)">+</button>
                      </div>
                    </div>
                    <div class="phone-content" [class.active-content]="counts_for_phone[4] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/grp-2613-wall-mount.png"
                        alt=""
                      />
                      <p class="phone-name">GRP 2613 Wall Mount</p>
                      <span class="price">$10</span>
                      <div class="counter-container">
                        <button (click)="decrement(4,true)">−</button>
                        <span>{{ counts_for_phone[4] }}</span>
                        <button (click)="increment(4,true)">+</button>
                      </div>
                    </div>
                    <div class="phone-content" [class.active-content]="counts_for_phone[5] > 0">
                      <img
                        src="https://demo.enfolytics.com/assets/images/headset-adapter.png"
                        alt=""
                      />
                      <p class="phone-name">Headset + Adapter</p>
                      <span class="price">$275</span>
                      <div class="counter-container">
                        <button (click)="decrement(5,true)">−</button>
                        <span>{{ counts_for_phone[5] }}</span>
                        <button (click)="increment(5,true)">+</button>
                      </div>
                    </div>
                  </div>
                  <span class="terms">
                    <input class="checkBox" [checked]="checkConditionForHardware" (click)="checkConditionForHardware=!checkConditionForHardware" type="checkbox" /><span
                      >I understand that our practice needs to have an ethernet outlet
                      available at every location where a phone needs to be
                      installed.</span
                    >
                  </span>
                </div>
                }
              </div>
            }
            }
          }
          }

        <div class="terminals hardware">
          <p>Would you like to purchase payment terminals?*</p>
          <div class="toggle-container">
            <button
              [class]="{ active: selectTerminal === true }"
              (click)="selectTerminal = true"
              class="toggle-btn"
            >
              Yes
            </button>
            <button
              [class]="{ active: selectTerminal === false }"
              (click)="selectTerminal = false"
              (click)="removeValue_of_hardware()"
              class="toggle-btn"
            >
              No
            </button>
          </div>
          @if(selectTerminal){
          <div class="terminal-context">
            <div class="terminal-grid">
              <div
                class="terminal-content"
                [class.active-content]="counts_for_terminal[0] > 0"
              >
                <img
                  src="https://demo.enfolytics.com/assets/images/bbpos-wisepos-e.png"
                  alt=""
                />
                <p class="sub">Stripe</p>
                <p class="terminal-name">BBPOS WisePOS E</p>
                <span class="price">$250</span>
                <span class="description"
                  >Best for workstations handling more than 10 calls per day.
                  (Recommended for front desk, call centers, etc.)</span
                >
                <div class="counter-container">
                  <button (click)="decrement(0,false)">−</button>
                  <span>{{ counts_for_terminal[0] }}</span>
                  <button (click)="increment(0,false)">+</button>
                </div>
              </div>
              <div
                class="terminal-content"
                [class.active-content]="counts_for_terminal[1] > 0"
              >
                <img
                  src="https://demo.enfolytics.com/assets/images/bbpos-wisepos-e-dock.png"
                  alt=""
                />
                <p class="sub">Stripe</p>
                <p class="terminal-name">BBPOS WisePOS E Dock</p>
                <span class="price">$49</span>
                <span class="description"
                  >Best for workstations handling less than 10 calls per day.
                  (Typically in Operatories and Hallways)</span
                >
                <div class="counter-container">
                  <button (click)="decrement(1,false)">−</button>
                  <span>{{ counts_for_terminal[1] }}</span>
                  <button (click)="increment(1,false)">+</button>
                </div>
              </div>
            </div>
            <p class="refund">
              <span> Refund Policy:</span> Please note that you will be
              receiving your terminals and docks selected from our vendor
              Stripe. All terminal sales with Stripe are non-refundable after 30
              days from when you receive the shipment.
            </p>
          </div>
          }
        </div>
        @if(selectPhone!=null || selectTerminal!=null){
          <div class="btnClass">
            <button mat-raised-button class="nextbtn" (click)="goToExpandForm()">Next</button>
          </div>
        }
        }
      </div>
      } 
      @if(multiple_location=='no'){
      <div class="card about-practice">
        <h1>Step 3: Tell Us About Your Practice</h1>
        @if(expandForm){
          <p>
            To sign up for Adit, please begin by filling out the below
            information.
          </p>
  
          <form [formGroup]="practiceData">
            <div formArrayName="locations">
              @for(location of locations.controls;track location; let i = $index){
              <div [formGroupName]="i">
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Practice Name</mat-label>
                    <input type="text" formControlName="practice_name" matInput  #practiceNameInput  (focus)="initAutocompleteForLocation(i, practiceNameInput)"/>
                  </mat-form-field>
                </div>
  
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Location Short Name (ex. Houston)</mat-label>
                    <input type="text" formControlName="location_name" matInput />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Practice Address Line 1</mat-label>
                    <input
                      type="text"
                      formControlName="practiceAdressLine_1"
                      matInput
                    />
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Practice Address Line 2</mat-label>
                    <input
                      type="text"
                      formControlName="practiceAdressLine_2"
                      matInput
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" formControlName="practice_city" matInput />
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>State/Region/Province</mat-label>
                    <mat-select formControlName="practice_state">
                      <mat-option value="Alabama">Alabama </mat-option>
                      <mat-option value="Alaska">Alaska</mat-option>
                      <mat-option value="Arizona">Arizona</mat-option>
                      <mat-option value="Arkansas">Arkansas</mat-option>
                      <mat-option value="California">California</mat-option>
                      <mat-option value="Colorado">Colorado</mat-option>
                      <mat-option value="Connecticut">Connecticut</mat-option>
                      <mat-option value="Delaware">Delaware</mat-option>
                      <mat-option value="District of Columbia"
                        >District of Columbia</mat-option
                      >
                      <mat-option value="Florida">Florida</mat-option>
                      <mat-option value="Georgia">Georgia</mat-option>
                      <mat-option value="Hawaii">Hawaii</mat-option>
                      <mat-option value="Idaho">Idaho</mat-option>
                      <mat-option value="Illinois">Illinois</mat-option>
                      <mat-option value="Indiana">Indiana</mat-option>
                      <mat-option value="Iowa">Iowa</mat-option>
                      <mat-option value="Kansas">Kansas</mat-option>
                      <mat-option value="Kentucky">Kentucky</mat-option>
                      <mat-option value="Louisiana">Louisiana</mat-option>
                      <mat-option value="Maine">Maine</mat-option>
                      <mat-option value="Maryland">Maryland</mat-option>
                      <mat-option value="Massachusetts">Massachusetts</mat-option>
                      <mat-option value="Michigan">Michigan</mat-option>
                      <mat-option value="Minnesota">Minnesota</mat-option>
                      <mat-option value="Mississippi">Mississippi</mat-option>
                      <mat-option value="Missouri">Missouri</mat-option>
                      <mat-option value="Montana">Montana</mat-option>
                      <mat-option value="Nebraska">Nebraska</mat-option>
                      <mat-option value="Nevada">Nevada</mat-option>
                      <mat-option value="New Hampshire">New Hampshire</mat-option>
                      <mat-option value="New Jersey">New Jersey</mat-option>
                      <mat-option value="New Mexico"> New Mexico</mat-option>
                      <mat-option value="New York">New York</mat-option>
                      <mat-option value="North Carolina"
                        >North Carolina</mat-option
                      >
                      <mat-option value="North Dakota">North Dakota</mat-option>
                      <mat-option value="Ohio">Ohio</mat-option>
                      <mat-option value="Oklahoma">Oklahoma</mat-option>
                      <mat-option value="Oregon">Oregon</mat-option>
                      <mat-option value="Pennsylvania">Pennsylvania</mat-option>
                      <mat-option value="Puerto Rico">Puerto Rico</mat-option>
                      <mat-option value="Rhode Island">Rhode Island</mat-option>
                      <mat-option value="South Carolina"
                        >South Carolina</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                 
                   <mat-form-field class="field" appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="practice_country" (selectionChange)="validatePostalCode(i)">
                      <mat-option value="UnitedStates">United States</mat-option>
                      <mat-option value="Canada">Canada</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Postal/Zip Code</mat-label>
                    <input
                      type="text"
                      formControlName="practice_postal_zip_code"
                      matInput
                       (input)="validatePostalCode(i)"
                    />
                    @if(getLocation(i).get('practice_postal_zip_code')?.invalid && getLocation(i).get('practice_postal_zip_code')?.touched){
                      <mat-error>
                        Invalid Postal/Zip Code for selected country
                      </mat-error>
                    }
                      
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Timezone</mat-label>
                    <mat-select formControlName="practice_timezone">
                      <mat-option value="(UTC -10:00) Hawaii">(UTC -10:00) Hawaii</mat-option>
                       <mat-option value="(UTC -9:00) Alaska">(UTC -9:00) Alaska </mat-option>
                       <mat-option value="(UTC -08:00) Pacific Time (US & Canada)">(UTC -08:00) Pacific Time (US & Canada)</mat-option>
                       <mat-option value="(UTC -07:00) Arizona">(UTC -07:00) Arizona</mat-option>
                       <mat-option value="(UTC -07:00) Mountain Time (US & Canada)">(UTC -07:00) Mountain Time (US & Canada)</mat-option>
                        <mat-option value="(UTC -07:00) Yukon">(UTC -07:00) Yukon</mat-option>
                       <mat-option value="(UTC -06:00) Central Time (US & Canada)">(UTC -06:00) Central Time (US & Canada)</mat-option>
                      <mat-option value="(UTC -05:00) Eastern Time (US & Canada)">(UTC -05:00) Eastern Time (US & Canada)</mat-option>
                      <mat-option value="(UTC -04:00) Atlantic Time (Canada)">(UTC -04:00) Atlantic Time (Canada)</mat-option>
                      <mat-option value="(UTC -03:30) Newfoundland">(UTC -03:30) Newfoundland</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Office Phone</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="practice_office_phone"
                      appPhoneNumberFormatter
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="practice_email"
                    />
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Website URL</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="practice_website_url"
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>Practice Management Software (PMS)</mat-label>
                    <mat-select formControlName="practice_management_software">
                      <mat-option value="AbelDent">AbelDent</mat-option>
                      <mat-option value="ClearDent">ClearDent</mat-option>
                      <mat-option value="Curve">Curve</mat-option>
                      <mat-option value="Denticon">Denticon</mat-option>
                      <mat-option value="Dentrix">Dentrix</mat-option>
                      <mat-option value="Dentrix Ascend">Dentrix Ascend</mat-option>
                      <mat-option value="Eaglesoft">Eaglesoft</mat-option>
                      <mat-option value="Easy Dental">Easy Dental</mat-option>
                      <mat-option value="OpenDental">OpenDental</mat-option>
                      <mat-option value="PracticeWorks">PracticeWorks</mat-option>
                      <mat-option value="Practice Web">Practice Web</mat-option>
                      <mat-option value="Tracker">Tracker</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>POC Name (Point-of-Contact)</mat-label>
                    <input type="text" formControlName="practice_poc" matInput />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>POC Email</mat-label>
                    <input
                      type="text"
                      formControlName="practice_poc_email"
                      matInput
                    />
                  </mat-form-field>
                </div>
                <div class="form-field">
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>POC Work Number</mat-label>
                    <input
                      type="text"
                      formControlName="practice_poc_work_number"
                      matInput
                      appPhoneNumberFormatter
                      placeholder="(111) 111-1111"
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="fill">
                    <mat-label>POC Cell Number</mat-label>
                    <input
                      type="text"
                      formControlName="practice_poc_cell_number"
                      appPhoneNumberFormatter
                      matInput
                    />
                  </mat-form-field>
                </div>
              </div>
              }
            </div>
          </form>
          @if(selectPhone==true || selectTerminal==true){
            <div class="shipping-address-container">
              <h3>Where would you like your hardware shipped?</h3>
              <div style="display: flex;">
                <input
                type="checkbox"
                [checked]="sameAsPracticeAddress"
                (click)="sameAsPracticeAddress=!sameAsPracticeAddress"
                style="accent-color: var(--primary-color);"/>
                  Shipping address same as practice address
              </div>
            
              @if(sameAsPracticeAddress==false){
                <form [formGroup]="shippingAddressForm">
                  <!-- <div formArrayName="shippingAddress"> -->
                    <!-- @for(shipping of shippingAddress.controls; track shipping; let i = $index){ -->
      
                    <!-- <div [formGroupName]="i"> -->
                  <div class="form-row">
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>Shipping Address Line 1</mat-label>
                      <input matInput formControlName="address_line_1" placeholder="Enter a Shipping Address" />
                      @if(shippingAddressForm.get('address_line_1')?.invalid && shippingAddressForm.get('address_line_1')?.touched){
                        <mat-error>
                          Enter a Shipping Address
                        </mat-error>
                      }
                    </mat-form-field>
              
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>Shipping Address Line 2</mat-label>
                      <input matInput formControlName="address_line_2" placeholder="Enter a Shipping Address (Optional)" />
                    </mat-form-field>
                  </div>
              
                  <div class="form-row">
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city" placeholder="Enter a City" />
                      @if(shippingAddressForm.get('city')?.invalid && shippingAddressForm.get('city')?.touched){
                        <mat-error>
                          Enter a City
                        </mat-error>
                      }
                    </mat-form-field>
              
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>State/Region/Province</mat-label>
                      <input matInput formControlName="state" placeholder="Enter a State" />
                      @if(shippingAddressForm.get('state')?.invalid && shippingAddressForm.get('state')?.touched){
                        <mat-error>
                          Enter a State
                        </mat-error>
                      }
                   
                    </mat-form-field>
                  </div>
              
                  <div class="form-row">
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>Postal / Zip Code</mat-label>
                      <input matInput formControlName="postalCode" placeholder="Enter a valid Zip Code" (input)="validatePostalCodeInSipping()" />
                      @if(shippingAddressForm.get('postalCode')?.invalid && shippingAddressForm.get('postalCode')?.touched){
                        <mat-error>
                          Enter a valid Zip Code
                        </mat-error>
                      }
                    </mat-form-field>
              
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="country" placeholder="Select a Country" (selectionChange)="validatePostalCodeInSipping()">
                        <mat-option value="UnitedStates">United States</mat-option>
                        <mat-option value="Canada">Canada</mat-option>
                      </mat-select>
                      @if(shippingAddressForm.get('country')?.invalid && shippingAddressForm.get('country')?.touched){
                        <mat-error>
                          Select a Country
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <!-- </div> -->
                <!-- } -->
                <!-- </div> -->
                </form>
              }
             
            </div>
          }
          <div class="btnClass">
            <button mat-raised-button class="nextbtn" (click)="goNextToReview()">
              Next
            </button>
          </div>
        }
      </div>
      }

      <div class="card review-order">
        <h1>Step 4: Review Your Order</h1>
        @if(expandReview){
          <h2>Order Summary</h2>
          <div class="summary-topinfo">
            <div class="practice-name">
              <span class="practice">Practice</span>
              <span class="p-values">
                @if(multiple_location=='no'){
                  @for(location of locations.controls; track location; let i = $index) {
                    <span class="p-name"><strong>{{ location.get("practice_name")?.value }}</strong></span>
                    <span class="p-loc">{{ location.get("location_name")?.value }}</span>
                  }
                }
              </span>
            </div>
            <div class="about-package">
              <span class="titles">
                <span>Package:</span>
                <span>Pay Cycle:</span>
                <span>Amount:</span>
              </span>
              <span class="values">
                @if(ifPackageisAditCore){
                  <span>{{ makeFirstLetterCapital('core')  }} 
                    @if(addOnPhone){
                     + Phones 
                    }
                    @if(addOnAnalytic){
                     + Analytics 
                    }
                    @if(addOnVerification){
                     + Verifications 
                    }
                  </span>
                }@else {
                  <span>{{ makeFirstLetterCapital(selectedPackageName) }} Bundle</span>
                }
                <span>{{isAnnually?'Annually':'Monthly'}}</span>
                <span>${{isAnnually ?  subscriptionPriceAnnually*12:subscriptionPriceMonthly}}</span>
              </span>
            </div>
          </div>
        
          <div class="bllling-start">
            <strong> Billing Start: </strong>For all annual billing, the total
            yearly fee will be charged within one business day of sign date.
            Subsequent billing will occur 1 year + {{no_of_days}} days of sign date, annually.
            Any necessary, prorated refunds of annual charges will incur a 3%
            processing fee.
          </div>
          <div class="compliance">
            <strong> 10DLC Charges & FCC Compliance:</strong> As mandated by the
            Federal Communications Commission, 10DLC Campaign Charges(mandatory)
            and Text Messaging Surcharges(if applicable) will be charged monthly
            on top of the subscription fees to the payment method on file. The
            average customer pays ~$18 per month.
          </div>
          <div class="signature">
          
           @if(signatureExists){
            <div class="signExists">
            <strong>Signature</strong>
            <img src="{{signature_url}}" alt="">
            </div>
           }@else{
              <strong>Signature</strong>
             <mat-tab-group>
              <mat-tab label="Draw">
                <div style="border: 2px solid var(--primary-color)">
                  <canvas width="800" height="300" #signatureCanvas></canvas>
                </div>
  
                <!-- <button (click)="saveSignature()">Save</button> -->
              </mat-tab>
              <mat-tab label="Upload">
                <div style="border: 2px dotted var(--primary-color)">
                  <div
                    class="upload-container"
                    (dragover)="onDragOver($event)"
                    (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)"
                  >
                    @if(!previewImage){
                    <p>Drag & drop a signature image</p>
                    <p>or</p>
  
                    <label class="upload-button">
                      <input
                        type="file"
                        (change)="onFileSelected($event)"
                        accept="image/*"
                        hidden
                      />
                      Select Image
                    </label>
                    } @if(previewImage){
                    <div class="preview">
                      <img [src]="previewImage" alt="Signature Preview" />
                    </div>
                    }
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
           }
            <div class="belowSignature">
              <div class="nameOfSignatory">
                <p>Name of signatory:</p>
                <input type="text" [(ngModel)]="signature_name" />
              </div>
              <button mat-flat-button (click)="clearPad()">
                <mat-icon class="deleteIcon">delete</mat-icon> Clear
              </button>
            </div>
            <div class="terms">
              <input
                class="checkBox"
                type="checkbox"
                #tooltip="matTooltip"
                matTooltip="Please accepet these terms to continuse"
                [checked]="acceptTermsAndConditions"
                (click)="toggleTermsAndConditions()"
              />
              <span>
                I accept the Terms and Conditions outlined at
                <a href="https://adit.com/terms">https://adit.com/terms</a>
              </span>
            </div>
            <div class="terms">
              <input
                class="checkBox"
                type="checkbox"
                matTooltip="Please accept these EHR terms to continue"
                [checked]="acceptEHRConditions"
                (click)="toggleEHRConditions()"
              />
              <span>
                I accept that Adit will need access to our server and/or EHR
                occasionally to ensure the best product experience. Details
                outlined at
                <a href="https://adit.com/terms"> https://adit.com/terms</a></span
              >
            </div>
          </div>
        }
      </div>
    </div>
    <!-- single location -->
    @if(totalAnnually>0 && multiple_location=='no' || whichPackageToShow === 'Only Lite - 1st Yr Promo'){
      <div class="right-card">
        <div class="toggle-container">
          <button
            [class]="{ active: isAnnually }"
            (click)="toggleView('annually')"
            class="toggle-btn">
            Annually
          </button>
          <button
            [class]="{ active: !isAnnually }"
            (click)="toggleView('monthly')"
            class="toggle-btn">
            Monthly
          </button>
        </div>
        <div class="short-card">
          <h3>One time payment Due Today <mat-icon>shopping_cart</mat-icon></h3>
          <!-- add line -->
          <mat-divider></mat-divider>
  
          <p class="context">
            <span class="title">Activation Fee <mat-icon matTooltip="The activation fee is non-refundable once the server installation has taken place.">info</mat-icon></span>
            <span class="value"> ${{ convertStringToNumber(activation_fee) }} </span>
          </p>
          <p class="context">
            <span class="title">Subscription Fee</span>
            <span class="value"
            >${{ isAnnually ?  subscriptionPriceAnnually*12 ||0:0  }}
          </span>
           <!-- } -->
          </p>
          <p class="context">
            <span class="title">Hardware Selected</span>
            <span class="value">
               <!-- @if (selectPhone === false) { -->
                <!-- $0 -->
              <!-- }@else if(selectTerminal!=null || selectPhone!=null) { -->
                ${{ hardware_TotalFor_Singlecoation || 0  }}
              <!-- } @else {  -->
                <!-- $0 -->
               <!-- } -->
            </span>
          </p>
          <p class="context">
            <span class="title">Hardware Credit Applied <mat-icon matTooltip="With the annual upfront package, Adit will be paying for the first $250 towards your phones and payment terminals.">info</mat-icon></span>
            <span class="hardwareValue">
              @if(selectPhone === true) {
                ${{getMinValue(getHarwareCreditTotal(), hardware_TotalFor_Singlecoation)}}
              } @else if(selectTerminal === true) {
                ${{getMinValue(getHarwareCreditTotal(), hardware_TotalFor_Singlecoation)}}
              }@else if (selectPhone === false|| selectTerminal === false) {
                $0
              } @else {
                $0
              }
            </span>
          </p>
          <!-- add line -->
          <mat-divider></mat-divider>
  
          <h3 class="context">
            <span class="title">Total Payment Today</span>
            <span class="value">
              ${{ getTotal() }}
            </span>
          </h3>
          <!-- if condtion for annual and monthly -->
          @if(isAnnually){
          <!-- <span class="subtext">Saved By Going Annual $600</span> -->
          }
        </div>
        <div class="short-card">
          <h3 class="context">
            <span class="title">Next {{ isAnnually ? "Annually " : "Monthly" }} Payment</span>
              <span class="value">
                ${{ isAnnually ?  subscriptionPriceAnnually*12 || 0:subscriptionPriceMonthly ||0  }}
              </span>
  
          </h3>
          <span class="subDate">On {{ getNextPaymentDate() }}</span>
         </div>
        <button mat-raised-button class="acceptBtn" (click)="openDialog()" [disabled]="!bothTermsAccepted">
          Accept & Pay
        </button>
      </div>
    }
  
  </div>
    }

</div>
