<div class="container">
    <div class="login-container">
      <img src="https://demo.enfolytics.com/assets/images/adit-logo.png" alt="Company Logo" class="logo">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <!-- Username Field -->
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" placeholder="Enter Username" formControlName="email" id="username" name="username" required>
          
          <!-- Validation Message -->
           @if(loginForm.get('username')?.invalid && loginForm.get('username')?.touched){
            <div class="error">
                Username is required.
              </div>
           }
          
        </div>
        
        <!-- Password Field -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"  placeholder="Enter Password" formControlName="password" id="password" name="password" required>
          
          <!-- Validation Message -->
           @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
            <div class="error">
                Password is required.
              </div>
           }
        
        </div>
        
        <!-- Submit Button -->
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      
      </form>
    </div>
  </div>
  @if(loading){
    <div class="loader-overlay">
      <div class="loader"></div>
    </div>
  }
 