<div class="container">
  <app-header></app-header>
  <h1>Re-Activate Form</h1>
  <div class="form-container">
    <form [formGroup]="reactivateForm">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Account ID</mat-label>
          <input matInput formControlName="accountId" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Currency</mat-label>
          <mat-select formControlName="currency">
            <mat-option value="USD">USD</mat-option>
            <mat-option value="EUR">EUR</mat-option>
            <mat-option value="GBP">GBP</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="plan-options">
        <div class="plan-option">
          <h3>Adit Core Paid Monthly</h3>
          <p>Price: $299</p>
        </div>
        <div class="plan-option">
          <h3>Adit Core Paid Annually</h3>
          <p>Price: $249</p>
        </div>
      </div>
      <h3>Add ons</h3>
      <div class="add-ons">
        
        <div class="add-on">
          <mat-checkbox formControlName="phones"
            >Phones (Price: $100)</mat-checkbox
          >
        </div>
        <div class="add-on">
          <mat-checkbox formControlName="analytics"
            >Analytics (Price: $100)</mat-checkbox
          >
        </div>
        <div class="add-on">
          <mat-checkbox formControlName="verifications"
            >Verifications (Price: $150)</mat-checkbox
          >
        </div>
      </div>

      <div class="activation-fee">
        <h3>Activation Fee</h3>
        <p>$500</p>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="generatePresentation()"
      >
        Generate Presentation
      </button>
    </form>
  </div>
</div>
