<app-header></app-header>
<div id="mainContainer">
  <div class="reactivateform-block">
    <div class="wrap-inner">
      <div class="main-title">
        <h1>Re-Activate Form</h1>
      </div>
      <div class="form-container">
        <h3>Customer Details</h3>
        <form [formGroup]="reactivateForm">
          <div class="form-row">
            <div class="formfield-col formfield-col50">
              <mat-form-field class="white-formfield" appearance="fill">
                <mat-label>Account ID</mat-label>
                <input matInput formControlName="accountId" />
              </mat-form-field>
            </div>
            <div class="formfield-col formfield-col50">
              <mat-form-field class="white-formfield" appearance="fill">
                <mat-label>Select Currency</mat-label>
                <mat-select formControlName="currency">
                  <mat-option value="USD">USD</mat-option>
                  <mat-option value="EUR">EUR</mat-option>
                  <mat-option value="GBP">GBP</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="plans-row">
            <div class="plans-col">
              <div class="plans-block">
                <h4>Adit Core Paid Monthly</h4>
                <div class="plans-box">
                  <mat-form-field class="nowarnmsg-field">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" value="299" placeholder="0" />
                    <span matTextPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="plans-col">
              <div class="plans-block">
                <h4>Adit Core Paid Annually</h4>
                <div class="plans-box">
                  <mat-form-field class="nowarnmsg-field">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" value="249" placeholder="0" />
                    <span matTextPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <h4 class="plansaddon-title">Add ons</h4>
          <div class="plans-row">
            <div class="plans-col">
              <div class="plans-block">
                <div class="plans-box">
                  <strong>Phones</strong>
                  <mat-checkbox class="priceplan-checkbox" formControlName="phones"></mat-checkbox>
                  <mat-form-field class="nowarnmsg-field readonly_planprice">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" value="100" placeholder="0" readonly="" />
                    <span matTextPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="plans-col">
              <div class="plans-block analyticplan-block">
                <div class="plans-box">
                  <strong>Analytics</strong>
                  <mat-checkbox class="priceplan-checkbox" formControlName="analytics"></mat-checkbox>
                  <mat-form-field class="nowarnmsg-field readonly_planprice">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" value="100" placeholder="0" readonly="" />
                    <span matTextPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="plans-col">
              <div class="plans-block verifiplan-block">
                <div class="plans-box">
                  <strong>Verifications</strong>
                  <mat-checkbox class="priceplan-checkbox" formControlName="verifications"></mat-checkbox>
                  <mat-form-field class="nowarnmsg-field readonly_planprice">
                    <mat-label>Price</mat-label>
                    <input matInput type="number" value="150" placeholder="0" readonly="" />
                    <span matTextPrefix>$&nbsp;</span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div class="activationfee-formfield">
            <mat-form-field class="nowarnmsg-field">
              <mat-label>Activation Fee</mat-label>
              <input matInput type="number" value="500" placeholder="0" />
              <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
          <div class="formsubmit-btn">
            <button mat-raised-button color="primary" (click)="generatePresentation()">Generate Presentation</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>