.container{
    background-color:var(--background-color);
    height: 100%;
    h1{
        text-align: center;
        color: var(--primary-color);
    }
}
.user-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    box-shadow:0 6px 21px rgb(0 0 0 / 26%);
    padding: 10px;
    gap: 15px;
    max-width: 70vw;
    margin: 2rem auto;
    .group{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        .full-width {
            width: 400px;
          }
          button {
            background-color: var(--primary-color);
            color: white;
            width: 20rem;
            // align-self: center;
          }
          .title{
            position: absolute;
            // top:0;

          }
          .checkboxes{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            // border: 1px solid black;
          }
          mat-icon{
            font-size: 150px;
            width: 150px;
            height: 150px;
            color: rgb(165, 163, 163);
          }
    }
  
      
   
  }
  
  