#mainContainer {
  background-color: var(--background-color);
  height: 100vh;
}

.progileinfo-block {
  padding: 30px 0;  
  background-color: var(--background-color);

  .container {
    padding: 0 30px;
    max-width: 640px;
    margin: 0 auto;

    @media (max-width: 1199.98px) {
      padding: 0 20px;
    }

    @media (max-width: 767.98px) {
      padding: 0 12px;
    }
  }

  h1 {
    font-size: 1.5rem;
    color: var(--light-text-color);
    font-weight: 700;
    margin: 0 0 16px 0;
    text-align: center;
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 6px 21px rgb(0 0 0 / 26%);
  padding: 10px 20px;

  .group {
    display: flex;
    gap: 2rem;
    align-items: center;

    .userprofile-icon {
      font-size: 120px;
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }

    .full-width {
      width: 100%;
    }

    button {
      background-color: var(--primary-color);
      color: white;
      width: 20rem;
      // align-self: center;
    }

    .title {
      position: absolute;
      // top:0;

    }

    .checkboxes {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      // border: 1px solid black;
    }

    mat-icon {
      font-size: 150px;
      width: 150px;
      height: 150px;
      color: rgb(165, 163, 163);
    }
  }

  @media (max-width: 767.98px) {
    padding: 10px 12px;
  }

}