.container {
  width: 70vw;
  height: 100%;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    // margin: 0px 10px;
    height: 5rem;
    border-bottom: 1px dashed var(--secondary-color);
    label {
      flex: 4;
      // font-weight: bold;
    }

    .dropdown {
      flex: 3;
      width: 60%;
    }
    .price-input {
      flex: 1;
      width: 30%;
    }

    .currency,
    .per-month {
      font-weight: bold;
    }
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
  }

  .total {
    display: inline-flex;
    font-size: 24px;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
    div{
        padding-inline: 30px;
    }
    p {
      margin-right: 10px;
    }
  }
}
.gap-in-tech-div {
  .heading {
    color: var(--secondary-color);
    margin-inline: 10px;
  }
  div {
    margin: 5px 10px;

    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
   
    .checkBox {
      border-radius: 6px;
      border: 1px solid var(--secondary-color);
      box-shadow: 0 0px 3px rgba(25, 25, 25, 0.538);
      margin: 3px;
    }
   
  }
}
.tab-group {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  ::ng-deep .mat-mdc-tab-labels {
    .mdc-tab__text-label {
      font-size: 24px;
      font-weight: bold;
      margin: 10px;
    }
    .mdc-tab-indicator--active {
      background-color: var(--primary-color) !important;
      .mdc-tab__text-label {
        color: white !important;
      }
    }
  }
}
//
::ng-deep .mat-mdc-tab-body-content {
  overflow-y: hidden !important;
}


::ng-deep .mdc-checkbox__native-control:enabled:checked
~ .mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate
~ .mdc-checkbox__background {
  border-color: var(--primary-color);
background-color: var(--primary-color) !important;
}

.spending{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .spend-title{
    width: 100%;
    display: flex;
    justify-content: center;
    h2{
      width: 50%;
      text-align: center;
      padding: 10px 0;
      background-color: rgb(137, 236, 252);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      span{
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
  .head{
    display: flex;
    background-color: rgb(10, 167, 246);
    align-items: center;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    padding-inline: 10px;
    width: 90%;
    margin: auto;
    img{
      width: 50px;
    }
    h2{
      flex-grow: 3;
    }
    button{
      flex-grow: 1;
    }
  }
  .techs{
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 42, 52);
    color: white;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0 10px;
    // .heading {
    //   color: var(--secondary-color);
    //   margin-inline: 10px;
    // }
    .batch {
      h3{
        color: rgb(29, 185, 237);
      }
      div{
        width: 100%;
        margin: 5px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        mat-icon{
          color: var(--primary-color);
        }
      }
      
    }  
  }
}

.no-spending{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    width: 70%;
    text-align: center;
    font-size: 20px;
  }
}

.tech_selecter{
  width: 100%;
  border-bottom: 2px dashed blue;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  .provider-label{
    width: 50%;
    font-size: 20px;
  }
  .select-provider{
    width: 30%;
    height: 2.8rem;
    background-color: rgb(229, 249, 249);
    border-radius: 10px;
    border: 0.2px solid aqua;
    font-size: 20px;
  }
  .select-price{
    width: 10%;
    height: 2.8rem;
    background-color: rgb(229, 249, 249);
    border-radius: 10px;
    border: none;
    border: 0.2px solid aqua;
    font-size: 20px;
  }

}