<app-header></app-header>
<div id="mainContainer">
  <div class="packchangeform-block">
    <div class="wrap-inner">
      <div class="main-title">
        <h1>Package Change Agreement</h1>
      </div>
      <div class="form-container">
        <form [formGroup]="packageForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="white-formfield">
            <mat-label>Enter Account ID or Customer ID*</mat-label>
            <input matInput formControlName="accountID">
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>