<div class="container">
    <div class="header">
  <img src="https://demo.enfolytics.com/assets/images/adit-logo.png" alt="Company Logo" class="logo">
  </div>
<div class="card">
<h1>Oops! It seems your promotion has expired...</h1>
    <p>
        No worries, please reach out to <b>Shail,</b>and we'll be sure to get you a new promotion and get you started!
    </p>
    <p>
        Have a great day!
    </p>
<button mat-raised-button class="review" (click)="goToWebsite()">READ OUR REVIEWS</button>
</div>
</div>