<app-header></app-header>
<div id="mainContainer">
  <div class="dashboard-container">
    <div class="dashboard-block">
      <div class="container">
        <div class="search-pagination-container">
          <mat-form-field>
            <mat-label>Search by Name, Email</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
          @if(hasPermission('add_users')){
          <button (click)="createForm()">+ Create</button>

          }
        </div>
        <div class="table-container">
          <mat-table class="users-table" #dataTable [dataSource]="dataSource" matSort>

            <!-- Date Requested Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell class="usertableid-th" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
              <mat-cell class="usertableid-td" *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>

            <!-- Account/Practice Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.email }}
              </mat-cell>
            </ng-container>

            <!-- Sales Person/Reseller -->
            <ng-container matColumnDef="role_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.role_name }}</mat-cell>
            </ng-container>

            <!-- Medium -->
            <ng-container matColumnDef="user_group">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.user_group }}</mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="created_at">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.created_at | date: 'MMMM d, y, h:mm a'}}
              </mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <mat-header-cell class="usertableaction-th" *matHeaderCellDef>Actions</mat-header-cell>
              <mat-cell class="usertableaction-td" *matCellDef="let element">

                <span class="action-bar">
                  <mat-icon (click)="editUser(element.id)" matTooltip="Edit" matTooltipPosition="above">edit</mat-icon>
                  @if(hasPermission('delete_users')){
                  <mat-icon class="dltusers-icon" (click)="deleteUser(element.id)" matTooltip="Delete"
                    matTooltipPosition="above">delete</mat-icon>
                  }
                </span>


              </mat-cell>
            </ng-container>

            <mat-header-row class="table-head" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        <mat-paginator class="tablebtm-pagination" [length]="totalRecords" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" [pageIndex]="currentPage - 1" (page)="pageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>