<div class="dashboard-container">
    <app-header></app-header>
    <div class="container">
      <div class="search-pagination-container">
        <mat-form-field>
            <mat-label>Search by Name, Email</mat-label>
            <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
        <mat-paginator
            [length]="totalRecords"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="currentPage - 1"
            (page)="pageChanged($event)"
        >
        </mat-paginator>
        @if(hasPermission('add_users')){
          <button (click)="createForm()"> + Create</button>

        }
    </div>
    <div class="table-container">
      <mat-table #dataTable [dataSource]="dataSource" matSort>
  
        <!-- Date Requested Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
        </ng-container>
  
        <!-- Account/Practice Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
         {{ element.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.email }}
          </mat-cell>
        </ng-container>
  
        <!-- Sales Person/Reseller -->
        <ng-container matColumnDef="role_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.role_name }}</mat-cell>
        </ng-container>
  
        <!-- Medium -->
        <ng-container matColumnDef="user_group">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.user_group }}</mat-cell>
        </ng-container>
  
        <!-- Status Column -->
        <ng-container matColumnDef="created_at">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.created_at | date: 'MMMM d, y, h:mm a'}}
          </mat-cell>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
          
            <button mat-icon-button (click)="editUser(element.id)" matTooltip="Edit">
              <mat-icon color="accent">edit</mat-icon>
            </button>
            @if(hasPermission('delete_users')){
              <button mat-icon-button matTooltip="Delete">
                <mat-icon color="warn" (click)="deleteUser(element.id)">delete</mat-icon>
              </button>
            }

          
          </mat-cell>
        </ng-container>
  
        <mat-header-row  class="table-head" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      </div>
     </div>
  
  </div>
  