// Media query responsive
$breakpoint_xxl: 1199.98px;
$breakpoint_xl: 1199.98px;
$breakpoint_lg: 991.98px;
$breakpoint_md: 767.98px;
$breakpoint_sm: 575.98px;
$breakpoint_xs: 479.98px;

.dashboard-container {
  background-color: var(--light-grey-color);
  height: calc(100vh - 53px);


  .dashboard-block {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: $breakpoint_xl) {
      padding: 30px 20px;
    }

    @media (max-width: $breakpoint_md) {
      padding: 30px 12px;
    }

    .dashtabletop-btn:hover {
      background-color: var(--primary-color);
      color: #fff;
    }

    table th,
    table td {
      font-family: "Work Sans", sans-serif;
    }

    .head {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .group {
        display: flex;
        flex-direction: row;
        // align-items: baseline;
        gap: 1rem;
        
        .white-formfield {
          ::ng-deep {
            .mdc-text-field {
              padding: 0 12px;
            }
          }
        }

        button {
          border-radius: 6px;
          height: 3.5rem;
          background-color: #fff;

          &:hover {
            background-color: var(--secondary-color);
            color: #fff;
          }
        }

        @media (max-width: $breakpoint_md) {
          flex-wrap: wrap;
          width: 100%;
          gap: 0;

          .tbloverview-field {
            width: calc(100% - 160px);
            padding-right: 16px;
          }

          .dashtabletop-btn {
            --mat-protected-button-horizontal-padding: 16px;
            width: 160px;
          }

          .tblrange-field {
            width: calc(100% - 160px);
            padding-right: 16px;
            order: 1;
          }

          .tblsetting-topbtn {
            order: 2;
          }
          .tblsearch-field {
            width: 100%;
            order: 3;
          }
        }

        @media (max-width: $breakpoint_xs) {
          .tbloverview-field {
            width: 100%;
            padding-right: 0;
            margin-bottom: -8px;
          }

          .dashtabletop-btn {
            width: 100%;
          }

          .tblrange-field {
            width: 100%;
            padding-right: 0;
            order: 2;
            margin-top: 12px;
            margin-bottom: -8px;
          }
          .tblsetting-topbtn {
            order: 1;
            margin-top: 12px;
          }
        }

      }

      @media (max-width: $breakpoint_xl) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .table-container {
      width: 100%;
      overflow: auto;
      max-height: calc(100vh - 270px);

      .dashboard-table {
        white-space: nowrap;
        background-color: #fff;

        th {
          position: sticky;
          top: 0;
          background-color: var(--primary-color);
          font-weight: 600;
          color: #fff;
          text-align: center;
          padding: 8px;
          border: none;
          border-right: 1px dotted #e5e5e5;
          z-index: 2;

          &:nth-last-child(2) {
            right: 105px;
            box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.10);
          }

          &:last-child {
            position: sticky;
            right: 0;
            width: 105px;
            min-width: 105px;
          }
        }

        td {
          border: 1px dashed #E5E5E5;
          overflow: inherit;

          .action-bar {
            display: inline-flex;

            .mat-icon {
              color: var(--secondary-color);
              cursor: pointer;

              &:hover {
                color: var(--primary-color);
              }
            }
          }

          &:nth-last-child(2) {
            position: sticky;
            right: 105px;
            box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.10);
          }

          &:last-child {
            position: sticky;
            right: 0;
            width: 105px;
            min-width: 105px;
          }
        }

        @media (max-width: $breakpoint_md) {

          th,
          td {
            &:nth-last-child(2) {
              right: auto;
              box-shadow: inherit;
            }

            &:last-child {
              position: relative;
              right: auto;
              width: auto;
              min-width: inherit;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #b0afaf;
        border-radius: 6px;

        &:hover {
          background: #898888;
        }
      }

      @media (max-width: $breakpoint_xl) {
        max-height: calc(100vh - 321px);
      }

      @media (max-width: $breakpoint_md) {
        max-height: inherit;
      }
    }
  }

  @media (max-width: $breakpoint_md) {
    height: inherit;
  }
}