.dashboard-container {
  background-color: var(--light-grey-color);
  height: calc(100vh - 53px);

  .dashboard-block {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .dashtabletop-btn:hover {
      background-color: var(--primary-color);
      color: #fff;
    }

    table th,
    table td {
      font-family: "Work Sans", sans-serif;
    }

    .head {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .group {
        display: flex;
        flex-direction: row;
        // align-items: baseline;
        gap: 1rem;

        button {
          border-radius: 6px;
          height: 3.5rem;
          background-color: #fff;
          &:hover {
            background-color: var(--secondary-color);
            color: #fff;
          }
        }
      }
    }

    .table-container {
      width: 100%;
      overflow: auto;
      max-height: calc(100vh - 270px);

      .dashboard-table {
        white-space: nowrap;
        background-color: #fff;

        th {
          position: sticky;
          top: 0;
          background-color: var(--primary-color);
          font-weight: 600;
          color: #fff;
          text-align: center;
          padding: 8px;
          border: none;
          border-right: 1px dotted #e5e5e5;
          z-index: 2;

          &:nth-last-child(2) {
            right: 105px;
            box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.10);
          }

          &:last-child {
            position: sticky;
            right: 0;
            width: 105px;
            min-width: 105px;
          }
        }

        td {
          border: 1px dashed #E5E5E5;
          overflow: inherit;

          .action-bar {
            display: inline-flex;

            .mat-icon {
              color: var(--secondary-color);
              cursor: pointer;

              &:hover {
                color: var(--primary-color);
              }
            }
          }

          &:nth-last-child(2) {
            position: sticky;
            right: 105px;
            box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.10);
          }

          &:last-child {
            position: sticky;
            right: 0;
            width: 105px;
            min-width: 105px;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #b0afaf;
        border-radius: 6px;

        &:hover {
          background: #898888;
        }
      }
    }

  }
}

::ng-deep .mat-tooltip {
  position: relative;
}

/* Arrow pointing downward (because tooltip is above) */
::ng-deep .mat-tooltip::after {
  content: '';
  position: absolute;
  bottom: -16px;
  /* slightly overlaps the element */
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  /* top arrow color */
}