<div class="container">
  <div class="head">
    <h2>Permission Management</h2>

    <div class="add-permission">
      <mat-form-field>
        <mat-label>Permission Name</mat-label>
        <input type="text" matInput [(ngModel)]="newPermissionName" />
      </mat-form-field>
      &nbsp; &nbsp; &nbsp;
      <mat-form-field>
        <mat-label>Permission Description</mat-label>
        <input type="text" matInput [(ngModel)]="newPermissionDescription" />
      </mat-form-field>
      &nbsp; &nbsp; &nbsp;
      <button mat-raised-button (click)="addPermission()">
        Add Permission
      </button>
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Role Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(permission of permissions;track permission){
        <tr>
          <td>{{ permission.id }}</td>
          <td>
            @if(editPermId !== permission.id){
            <span>{{ permission.name }}</span>
            }@else if(editPermId === permission.id){
            <input [(ngModel)]="editPermName" />
            }
          </td>
  
          <td>
            @if(editPermId !== permission.id){
            <span>{{ permission.description }}</span>
            }@else if(editPermId === permission.id){
            <input [(ngModel)]="editPermDescription" />
            }
          </td>
          <td>
            @if(editPermId !== permission.id){
            <button mat-raised-button (click)="startEdit(permission)">
              Edit
            </button>
            }@else if (editPermId === permission.id) {
            <button mat-raised-button (click)="updatePermission()">Save</button>
            }
            <button mat-raised-button (click)="deletePermission(permission.id)">
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
