.title-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey-color);
  padding: 16px 20px;

  h2 {
    color: var(--secondary-color);
    margin: 0;
  }

  .white-formfield {
    ::ng-deep {
      .mdc-text-field {
        padding: 0 8px;
      }
    }
  }

  .add-permission {
    display: flex;

    button {
      background-color: var(--secondary-color);
      color: #fff;
      padding: 8px 15px;
      margin-top: 5px;
      margin-left: 12px;
      cursor: pointer;
    }
  }

  @media (max-width: 767.98px) {
    padding: 12px 8px;
    flex-direction: column;

    .add-permission {
      margin-top: 12px;
      width: 100%;
    }

    .permissioname-field {
      width: calc(100% - 136px);
    }

    .addpermission-btn {
      width: 136px;
      margin-right: 0;
    }
  }
}

.permissiontable-block {
  padding: 20px;

  @media (max-width: 767.98px) {
    padding: 12px 8px;
  }
}

.table-container {
  max-height: calc(100vh - 370px);
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    z-index: 10;
    text-align: left;
    border-left: 1px dotted var(--light-grey-color);

    &:first-child {
      width: 50px;
    }

    &.roletable-action {
      text-align: right;
    }
  }

  td {
    padding: 10px;
    border: 1px dotted var(--light-grey-color);
    text-align: left;

    &:first-child {
      width: 50px;
    }

    &.roletable-action {
      text-align: right;

      button:last-child {
        margin-right: 0;
      }
    }

    input {
      padding: 8px;
      border-radius: 5px;
      border: 1px solid #afadad;
    }
  }
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }
}