.preagreeform-block {
  font-family: 'Ubuntu', sans-serif;
  --mdc-protected-button-label-text-font: 'Ubuntu', sans-serif;
  padding: 60px 0;

  .form-container {
    background-color: white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    padding: 30px 20px;
    border-radius: 16px;

    form {
      display: flex;
      flex-direction: column;
    }

  }

  .form-section {
    margin-bottom: 20px;

    h2 {
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--bodytext-color);
      line-height: 1.2;
      margin: 0 0 16px 0;
    }

    .displaypricing-checkbox,
    .displayts-checkbox {
      --mat-checkbox-label-text-font: 'Ubuntu', sans-serif;
      --mat-checkbox-label-text-weight: 500;
      display: block;
      margin: 0;
    }
  }

  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    mat-form-field {
      margin-bottom: 1rem;
    }

    .upload {
      margin-bottom: 1rem;

      strong {
        font-size: 16px;
        font-weight: 400;
        color: var(--darktext-color);
        margin-bottom: 12px;
        display: block;
      }

      .file-upload {
        display: flex;
        width: 100%;
        border-bottom: 1px solid #44474e;
        cursor: pointer;
      }

      .file-upload-label {
        padding: 5px;
        border-right: 1px solid var(--secondary-color);
        display: inline-block;
        vertical-align: top;
        width: auto;

        &:hover {
          background-color: #d0d2d3; // Darker blue on hover
        }
      }

      .file-upload-container {
        display: flex;
        align-items: center;
        gap: 10px; // Space between elements
      }

      .file-upload-name {
        color: var(--bodytext-color);
        padding: 5px;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        width: auto;
      }

      input[type="file"] {
        display: none; // Hide the default file input
      }
    }

    .sample_file {
      span {
        font-size: 1.1rem;
        color: var(--secondary-color);
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .form-row>* {
    flex: 1;
  }

  .formsubmit-btn {
    width: 100%;
    text-align: center;

    button {
      font-size: 1.1rem;
      font-weight: 700;
      background-color: var(--primary-color);
      color: white;
      padding: 14px 28px;
      height: auto;
    }
  }


  @media (max-width: 1199.98px) {
    padding: 40px 0;

    .form-section {
      h2 {
        font-size: 1.4rem;
      }
    }

    .formsubmit-btn button {
      font-size: 1rem;
      padding: 14px 28px;
    }
  }

  @media (max-width: 991.98px) {
    .form-row {
      flex-direction: column;
      gap: 0;
      width: 100%;

      >* {
        width: 100%;
      }
    }

    .activationfee-formfield {
      &.active-numdays-formfield {
        grid-template-columns: 1fr;
      }
    }

  }

  @media (max-width: 767.98px) {
    padding: 30px 0;

    .form-container {
      padding: 20px 12px;
      border-radius: 12px;
    }

    .form-section {
      h2 {
        font-size: 1.2rem;
      }
    }

    .formsubmit-btn button {
      font-size: 0.95rem;
      padding: 12px 24px;
    }
  }

  @media (max-width: 479.98px) {
    .form-section {
      h2 {
        font-size: 1.1rem;
      }
    }

    .form-row .sample_file span {
      font-size: 1rem;
    }

    .formsubmit-btn button {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }

}

.pricing-section {
  .checkbox {
    margin-bottom: 16px;
  }
}

.form-field {
  width: 100%;
  // mat-form-field{
  // input{
  //   overflow: visible;
  // }
  // }
}

//   .pricing-section {
//     margin-top: 24px;
//   }

//   .section-title {
//     font-size: 1.25rem;
//     font-weight: bold;
//     margin-top: 24px;
//   }

//   .pricing-grid {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 16px;
//   }

//   .pricing-card {
//     padding: 16px;
//     border-radius: 8px;
//   }

//   .tech-bundle {
//     background-color: #e0f2fe;
//     ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
//       background-color: #e0f2fe !important;
//     }
//     color: #0369a1;
//   }

//   .analytics-bundle {
//     background-color: #ffedd5;
//     ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
//       background-color: #ffedd5 !important;
//     }
//     color: #c2410c;
//   }

//   .bundle-title {
//     font-weight: bold;
//   }

//   .price {
//     font-size: 1.25rem;
//     font-weight: bold;
//   }
// }
.pricing-details {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .bundle {
    // border: 1px solid black;
    margin: 5px;
    width: 90%;
    border-radius: 6px;

    .form-field {
      width: 100%;
    }
  }

  // .techBundle{
  //   background-color: #e0f2fe;
  //   ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  //           background-color: #e0f2fe !important;
  //         }
  // }
  // .analyticBundle{
  //   background-color: #ffedd5;

  // }
}

.form-bundle {
  display: flex;
  gap: 1rem;
  flex-direction: row;

}

.pricing-details {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  gap: 20px;

  .pricingoffr-title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--bodytext-color);
    text-decoration-line: underline;
    display: block;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    color: var(--secondary-color); // Dark blue for section titles
  }

  .bundle {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fc; // Light background for contrast
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    // width: 50%;
    max-width: 100%;

    &.techBundle {
      background-color: #eaf1ff; // Light blue
      border-left: 5px solid #0044cc; // Darker blue border
      width: 45%;
    }

    &.analyticBundle {
      background-color: #fff5eb; // Light orange
      border-left: 5px solid #ff8800; // Darker orange border
      width: 45%;
    }

    &.aditLiteBundle {
      background-color: #f0f7e6; // Light green
      border-left: 5px solid #66bb6a; // Green border
      width: 45%;
    }

    &.aditCoreBundle {
      background-color: #bdf2ec; // Light green
      border-left: 5px solid #15d5be; // Green border
      width: 45%;
    }

    &.pozativeBundle {
      background-color: #b1e5fb; // Light green
      border-left: 5px solid #0ab5ff; // Green border
      width: 45%;
    }

    &.verficationBundle {
      background-color: #99f3e8; // Light green
      border-left: 5px solid #15d5be; // Green border
      width: 45%;
    }

    &.addonBundle {
      background-color: #efffb0; // Light green
      border-left: 5px solid #b1dd02; // Green border
      width: 28%;
    }

    .bundle-title {
      font-size: 1rem;
      font-weight: 600;
      color: #0044cc;
      margin-bottom: 5px;
    }

    .add-on-checkbox {
      position: absolute;
      accent-color: var(--primary-color);

    }

  }
}

.activationfee-formfield {
  --mat-form-field-container-text-font: 'Ubuntu', sans-serif;
  --mdc-filled-text-field-label-text-font: 'Ubuntu', sans-serif;
  --mdc-filled-text-field-label-text-weight: 500;
  --mdc-filled-text-field-active-indicator-color: #7CCCF1;
  --mdc-filled-text-field-hover-active-indicator-color: #7CCCF1;
  margin-bottom: 12px;

  &.active-numdays-formfield {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  mat-form-field {
    width: 100%;
  }

  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: transparent;
      padding: 0;

      .mat-mdc-floating-label {
        top: 29px;

        &.mdc-floating-label--float-above {
          top: 20px;
          left: -14px;
        }
      }
    }

    .mat-mdc-form-field-focus-overlay {
      --mat-form-field-state-layer-color: transparent;
    }

    .mat-mdc-form-field-infix {
      padding-top: 16px;
      padding-bottom: 5px;
      min-height: inherit;
    }
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::ng-deep .mdc-text-field--filled.mdc-text-field--disabled .mdc-text-field__input {
  color: black !important;
}

.hidden-checkbox {
  display: none;
}

/* Custom checkbox styling */
.custom-checkbox {
  position: absolute;
  top: 0px;
  right: -15px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* Adjust spacing as needed */
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Custom checkbox when checked */
.custom-checkbox.checked {
  background-color: var(--primary-color);
  /* Change to your preferred color */
  border-color: var(--primary-color);
  color: #fff;
}

.hidden-checkbox2 {
  display: none;
}

/* Custom checkbox styling */
.custom-checkbox2 {
  // position: absolute;
  // top: 0px;
  // right: -15px;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* Adjust spacing as needed */
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Custom checkbox when checked */
.custom-checkbox.checked2 {
  background-color: var(--primary-color);
  /* Change to your preferred color */
  border-color: var(--primary-color);
  color: #fff;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}