<div class="container">
  <app-header style="position: sticky; top: 0; z-index: 2"></app-header>
  <h1>Pre-Agreement Form</h1>
  <div class="form-container">
    <form [formGroup]="preAgreementForm" (ngSubmit)="onSubmit()">
      <div class="form-section">
        <!-- <h2 style="color: var(--secondary-color);">Practice Details</h2>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Practice Name</mat-label>
            <input matInput formControlName="practice_name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Contact Email</mat-label>
            <input matInput formControlName="contact_email">
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Practice Address Line 1</mat-label>
            <input matInput formControlName="practice_address_line_1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Practice Address Line 2</mat-label>
            <input matInput formControlName="practice_address_line_2">
          </mat-form-field>
        </div> -->
        <h2 style="color: var(--secondary-color)">Customer Details</h2>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Practice Industry</mat-label>
            <mat-select formControlName="practiceIndustry">
              <mat-option value="dental" (click)="dental_or_optometry='dental'">Dental</mat-option>
              <mat-option value="optometry" (click)="dental_or_optometry='optometry'">Optometry</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>New or Existing Client?</mat-label>
            <mat-select formControlName="newOrExistingClient">
              <mat-option value="new">New</mat-option>
              <mat-option value="existing">Existing</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Multiple Locations?</mat-label>
            <mat-select formControlName="multipleLocations">
              <mat-option value="yes">Yes</mat-option>
              <mat-option value="no">No</mat-option>
            </mat-select>
          </mat-form-field>
       
        </div>
        @if(preAgreementForm.get('multipleLocations')?.value == 'yes'){
          <div class="form-row">
            <div class="upload">
            <h4>Upload multiple locations data</h4>
              <label for="fileInput" class="file-upload">
                  <span class="file-upload-label">Choose File</span>
                  @if(selectedFile){
                    <span class="file-upload-name">  &nbsp; {{ selectedFile.name }}</span>

                  }@else {
                    <span class="file-upload-name"> &nbsp; No file chosen</span>

                  }
              </label>
                <input id="fileInput" type="file" (change)="onFileSelected($event)">
            </div>
            <div class="sample_file" (click)="downloadSampleFile()">
              <span >Download Sample File</span>
            </div>
          </div>
        }
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Account ID</mat-label>
            <input matInput formControlName="accountId" maxlength="19"/>
            <!-- Validation errors -->
             @if(this.preAgreementForm.get('accountId')?.hasError('required')){
              <mat-error>
                Account ID is required.
              </mat-error>
             }
             @if(this.preAgreementForm.get('accountId')?.hasError('pattern')){
              <mat-error>
                Account ID must be exactly 19 digits.
              </mat-error>
             }
            @if(errorMessage){
              <mat-hint style="color: red;">
                {{ errorMessage }}
              </mat-hint>
            }
            @if(successMsg){
              <mat-hint >{{successMsg}}</mat-hint>
              <!-- <span>{{successMsg}}</span> -->
            }
            
          </mat-form-field>
          
          @if(deals.length>0){
            <mat-form-field appearance="fill">
              <mat-label>Select a Deal</mat-label>
              <mat-select>
                @for(deal of deals;track deal){
                  <mat-option [value]="deal">
                    {{ deal.deal_name }} 
                  </mat-option>
                }
               
              </mat-select>
            </mat-form-field>
          }
   
          <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="currency">
              <mat-option value="USD">USD</mat-option>
              <mat-option value="CAD">CAD</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Select PMS</mat-label>
            <mat-select formControlName="pms">
             @if(dental_or_optometry!=''){
              @if(dental_or_optometry=='optometry'){
                <mat-option value="CrystalPM">CrystalPM</mat-option>
                <mat-option value="OfficeMate">OfficeMate</mat-option>
                <mat-option value="RevolutionEHR">RevolutionEHR</mat-option>
              }@else {
                <mat-option value="AbelDent">AbelDent</mat-option>
                <mat-option value="ClearDent">ClearDent</mat-option>
                <mat-option value="Curve">Curve</mat-option>
                <mat-option value="Denticon">Denticon</mat-option>
                <mat-option value="Dentrix">Dentrix</mat-option>
                <mat-option value="Dentrix Ascend">Dentrix Ascend</mat-option>
                <mat-option value="Eaglesoft">Eaglesoft</mat-option>
                <mat-option value="Easy Dental">Easy Dental</mat-option>
                <mat-option value="OpenDental">OpenDental</mat-option>
                <mat-option value="PracticeWorks">PracticeWorks</mat-option>
                <mat-option value="Practice Web">Practice Web</mat-option>
                <mat-option value="Tracker">Tracker</mat-option>
              }
              
           
             }@else {
              <mat-option value=" " disabled>Select Practice Industry</mat-option>
             }
            </mat-select>
          </mat-form-field>
        </div>
          <mat-checkbox formControlName="displayPricing">Display Pricing</mat-checkbox>
          @if(preAgreementForm.get('displayPricing')?.value){
            <div class="pricing-section">
              <div class="form-grid">
                <!-- Promotion Type -->
                <!-- <mat-form-field appearance="fill" class="form-field">
                  <mat-label>Promotion Type</mat-label>
                  <mat-select formControlName="sales_person_promotion_type">
                    <mat-option value="Smile Source">Smile Source</mat-option>
                    <mat-option value="TruBlu">TruBlu</mat-option>
                    <mat-option value="DDSOM">DDSOM</mat-option>
                    <mat-option value="AIDA Member">AIDA Member</mat-option>
                    <mat-option value="Custom">Custom</mat-option>
                    <mat-option value="Event">Event</mat-option>
                    <mat-option value="Outbound AE">Outbound AE</mat-option>
                    <mat-option value="Outbound AE (Lite)">Outbound AE (Lite)</mat-option>
                    <mat-option value="Outbound AE (Only Lite)">Outbound AE (Only Lite)</mat-option>
                    <mat-option value="Only Lite - 1st Yr Promo">Only Lite - 1st Yr Promo</mat-option>
                    <mat-option value="Admin">Admin</mat-option>
                    <mat-option selected value="No Vendor Promo">No Vendor Promo</mat-option>
                    <mat-option value="Inbound Core">Inbound Core</mat-option>
                    <mat-option value="Outbound Core">Outbound Core</mat-option>
                    <mat-option class="free-veri" value="Inbound Free Verifications">Inbound Free Verifications</mat-option>
                    <mat-option class="free-veri" value="Outbound Free Verifications">Outbound Free Verifications</mat-option>
                    <mat-option value="Outbound Core - 1st Yr">Outbound Core - 1st Yr</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label>Promotion Type</mat-label>
                  <mat-select formControlName="sales_person_promotion_type" (selectionChange)="onPromotionChange()">
                    @for( promo of promotionKeys;track promo){
                      <mat-option [value]="promo">
                        {{ promo }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <!-- Promotion Expiry Date -->
                <mat-form-field appearance="fill" class="form-field">
                  <mat-label>Promotion Expiry Date</mat-label>
                  <input formControlName="promotionExpiryDate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                @if (selectedPromotion === 'Event') {
                  <mat-form-field appearance="fill" class="form-field">
                    <mat-label>Select Scheduler</mat-label>
                    <mat-select formControlName="event_type">
                      @for(event of eventOptions; track event){
                        <mat-option [value]="event">
                          {{ event.name }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                
              </div>
              <!-- Show this select only when promo is 'Event' -->
             
              <!-- Pricing Details -->
              <!-- <div class="pricing-details">
                <h3 class="section-title">Paid Monthly</h3>
                <div class="pricing-grid">
                  <div class="pricing-card tech-bundle">
                    <h4 class="bundle-title">Tech Bundle</h4>
                    <div class="form-bundle">
                      <mat-form-field appearance="fill">
                        <mat-label>Original Price</mat-label>
                        <input matInput type="number" formControlName="monthly_orginal_tech_bundle_price" />
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput type="number"  formControlName="monthly_discnt_tech_bundle_price" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="pricing-card analytics-bundle">
                    <h4 class="bundle-title">Analytics Bundle</h4>
                    <div class="form-bundle">
                      <mat-form-field appearance="fill">
                        <mat-label>Original Price</mat-label>
                        <input matInput type="number" formControlName="monthly_orginal_analytic_bundle_price" />
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput type="number" formControlName="monthly_discnt_analytic_bundle_price"  />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
    
                <h3 class="section-title">Paid Annually</h3>
                <div class="pricing-grid">
                  <div class="pricing-card tech-bundle">
                    <h4 class="bundle-title">Tech Bundle</h4>
                    <div class="form-bundle">
                      <mat-form-field appearance="fill">
                        <mat-label>Original Price</mat-label>
                        <input matInput type="number" formControlName="annual_orginal_tech_bundle_price" />
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput type="number" formControlName="annual_discnt_tech_bundle_price"  />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="pricing-card analytics-bundle">
                    <h4 class="bundle-title">Analytics Bundle</h4>
                    <div class="form-bundle">
                      <mat-form-field appearance="fill">
                        <mat-label>Original Price</mat-label>
                        <input matInput type="number" formControlName="annual_orginal_analytic_bundle_price" />
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Discounted Price</mat-label>
                        <input matInput type="number" formControlName="annual_discnt_analytic_bundle_price"  />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- Working code start -->
              <!-- <div formGroupName="pricingDetails" class="pricing-details">
                @for(control of getPricingControls();track control){
                  <div [ngClass]="getBundleClass(control)" class="bundle">
                    <mat-form-field appearance="fill" class="form-field">
                      <mat-label>{{ getLabel(control) }}</mat-label>
                      <span matPrefix>$&nbsp;</span> 
                      <input matInput type="number" [formControlName]="control" />
                    </mat-form-field>
                  </div>
                }
                
              </div> -->
              <!-- END -->
               @if(loading){
                <div class="loader-overlay">
                  <div class="loader"></div>
                </div>
               }@else {
                <div formGroupName="pricingDetails" class="pricing-details">
                  @for( control of getPricingControls();track control; let i = $index){
                    <ng-container>
                      <!-- Show Section Title When a New Bundle Starts -->
                       @if(shouldShowTitle(control, i)){
                        <ng-container>
                          <h3 class="bundle-title">{{ getBundleTitle(control) }}
                            @if(selectedPromotion=='No Vendor Promo'){
                              <input type="checkbox" (change)="toggleBundle(control)" [checked]="isAddOnEnabled(control)" class="hidden-checkbox2" />

                              @if (isNoVendorPackage(control)) {
                              <div (click)="toggleBundle(control)" [class.checked]="!isAddOnEnabled(control)" class="custom-checkbox2">
                                {{ !isBundleEnabled(control) ? '✓' : '' }}
                              </div>
                              }
                              
                            }
                          </h3>
                      
                        </ng-container>
                       }
             
                      <div [class]="getBundleClass(control)" class="bundle">
                        <mat-form-field appearance="fill" class="form-field">
                          <mat-label>{{ getLabel(control) }}</mat-label>
                          <span matPrefix>$&nbsp;</span>
                          <input matInput type="number" [formControlName]="control" [min]="getMinValue(control)" [max]="getMaxValue(control)" [disabled]="isFieldDisabled(control)" />
                      
                                        <!-- Hidden default checkbox -->
                            <input type="checkbox" (change)="toggleAddOn(control)" [checked]="isAddOnEnabled(control)" class="hidden-checkbox" />

                            <!-- Custom checkbox for add_on controls -->
                            @if (isAddOnControl(control)) {
                              <div (click)="toggleAddOn(control)" [class.checked]="!isAddOnEnabled(control)" class="custom-checkbox">
                                {{ !isAddOnEnabled(control) ? '✓' : '' }}
                              </div>
                            }
                      
                          <!-- Error Messages -->
                          @if (getFormControl(control)?.hasError('required')) {
                            <mat-error>
                              This field is required.
                            </mat-error>
                          } @else if (getFormControl(control)?.hasError('min')) {
                            <mat-error>
                              Value must be at least {{ getMinValue(control) }}.
                            </mat-error>
                          } @else if (getFormControl(control)?.hasError('max')) {
                            <mat-error>
                              Value must not exceed {{ getMaxValue(control) }}.
                            </mat-error>
                          }
                        </mat-form-field>
                      </div>
                    </ng-container>
                  }
                 
                </div>
                
               }
              
              
              <!-- Activation Fee -->
              <!-- <div class="activation-fee">
                <h3 class="section-title"></h3>
                <mat-form-field appearance="fill">
                  <mat-label>Activation Fee</mat-label>
                  <input matInput type="number" formControlName="activation_fee"  />
                </mat-form-field>
              </div> -->
            </div>
            }
          
      
        <mat-checkbox formControlName="displayTechStackComparison">Display Tech Stack Comparison?</mat-checkbox>
         @if(agreementId && sendForm) {
          <app-tech-stack-comparison  [getForm]="sendForm" (formChanged)="onFormChanged($event)"></app-tech-stack-comparison>
        }@else if(!agreementId && preAgreementForm.get('displayTechStackComparison')?.value){
          <app-tech-stack-comparison (formChanged)="onFormChanged($event)"></app-tech-stack-comparison>
        }
      </div>
      <span>
        <button mat-raised-button type="submit">Generate Presentation</button>
      </span>
    </form>
  </div>
</div>
